<div class="container p-2 box">
    <p class="col-count"><span><ng-content></ng-content></span></p>
    <div class="col-md-12">
        <div class="row text-center">
            <div class="col-6 mb-3">
                <button class="btn btn-primary btn-lg" (click)="toggleCmp(0)">1</button>
            </div>
            <div class="col-6 mb-3">
                <button class="btn btn-primary btn-lg" (click)="toggleCmp(1)" >2</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-lg" (click)="toggleCmp(2)">3</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-lg" (click)="toggleCmp(3)">4</button>
            </div>
        </div>
    </div>
</div>